<div class="projectLabel">
    <h4 class="title">{{ title }}</h4>
    <h4 class="title1">{{ title1 }}</h4>
</div>


<div class="main">
    

  <div class="styleMap">
      <agm-map 
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="3.5"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)"
      >
    
      <agm-marker 
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)"
          [title]="m.title">
        <agm-info-window>
          <strong >{{m.title}}</strong>
        </agm-info-window>
        
      </agm-marker>
    
    </agm-map>
  </div>
  
  <cdk-virtual-scroll-viewport itemSize='5' class="viewport">
  
    <ul *ngIf="parks">
      <li *ngFor="let park of parks.data" class="animated slideInRight">
        <p class="fullName">{{ park.fullName }} </p>
        <p class="latLong">{{ park.latLong }} </p>
        <p  class="description">{{ park.description }} </p>
      </li>
    </ul>
  
  </cdk-virtual-scroll-viewport>

</div>
