
.main {
    background-image: url("./../assets/images/parksAppBackground3.png"); 
    background-repeat: no-repeat;
    background-size: cover;
        min-height: 100%;
        min-width: 1024px;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
    }


    @media (max-width: 768px) {
        .testSection {
            // border: 1px solid orange;
            padding: 0px;
            margin-left: 0px;
            padding-left: 0px;
        }
    }