.main {
    position: relative;
    padding-top: 4em;
    text-align: center;
    justify-content: center;

    .Challenge {
        // background-color: rgba(0, 0, 0, 0.4);
        background-color: none;
        padding-top: auto;
        padding-bottom: auto;
        margin: auto;
        width: 30%;
        margin-top: 2px;
        text-align: center;
        justify-content: center;
        position: fixed;
        top: 15%;
        left: 20%;
    }

    h1 {
        color: white;
    }

    ul {
        font-size: 12px;
        color: beige;
        text-align: left;
    }

  
}

