.main {
    position: relative;
    padding-top: 4em;
    text-align: center;
    justify-content: center;

    .Challenge {
        // background-color: rgba(0, 0, 0, 0.4);
        background-color: none;
        padding-top: auto;
        padding-bottom: auto;
        margin: auto;
        width: 30%;
        margin-top: 2px;
        text-align: center;
        justify-content: center;
        position: fixed;
        top: 15%;
        left: 20%;
    }

    h1 {
        color: white;
    }

    ul {
        font-size: 12px;
        color: beige;
        text-align: left;
    }

  
}

@media only screen and (max-width: 900px) {

    .navList {
        border: 1px solid red;
    }

    .sidNavContent {
        padding-top: 10;
        // border: 1px solid purple;
        width: 100%;
    }

    .sidenav-container {
        flex:1; 
        height: 100%;
    }
    
    .main {
        
        // border: 1px solid green;
        margin: 0 auto;
        padding: 0px;
        padding-left: 0px;
        padding-top:500px;

    .Challenge {
        padding-left: 0px ;
        margin-left: -50px ;
        border: 2px solid #00f200;
        background-color: rgba(0, 0, 0, 0.6);
        width: 80%;
        margin-top: 40%;
        }   
    }
  }